fastapi
uvicorn
twilio
python-multipart
sentence-transformers
qdrant-client
langchain
langchain-community
langchain-text-splitters
langgraph
langchain-groq
python-dotenv
beautifulsoup4
html2text
groq
streamlit
selenium
playwright
html2text
tiktoken
pandas
pydantic
requests
Pillow
pytesseract
opencv-python-headless