fastapi
uvicorn
twilio
python-multipart
python-dotenv
groq
requests
qdrant-client
langchain
langchain-community
langchain-text-splitters
langgraph
langchain-groq
beautifulsoup4
html2text
fastembed
Pillow
pytesseract
opencv-python-headless
tiktoken
pandas
pydantic