fastapi
uvicorn
twilio
python-multipart
python-dotenv
groq
requests
qdrant-client
langchain
langchain-community
langchain-text-splitters
langgraph
langchain-groq
beautifulsoup4
html2text
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
Pillow
pytesseract
opencv-python-headless
tiktoken
pandas
pydantic